body {
	margin: 0;
	padding: 0;
	text-align: center;
}

#grid {
	margin-top: -400px;
}

/*
#grid, #effects {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -412.5px;
}

#status {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -510px;
	width: 510px;
}*/